.containerCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}
.bannerContainer{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    margin-top: 10em;
    img{
        border-radius: 5px;
        width: 90%;
        height: 90%;
    }
}
.cover{
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: var(--grey-50);
    position: absolute;
    right: 15%;
    top: 40%;
    padding: 2em;
    border-radius: 2em;

    h1{
        color: var(--blue-900);
        font-size: 1.5rem;
    }
    h2{
        color: var(--grey-100);
        font-size: 2rem;
       
    }

    span{
        font-size: 1em;
        margin-left: 1em;
    }
    button{
        width: 35%;
        height: 2.5em;
        background-color: var(--red-900);
        border: none;
        border-radius: 1em;
        font-size: 1.3em;
        color: var(--white);
        transition: all .5s ease;
    }
    button:hover{
        background-color: var(--blue-900);
    }
}
.text{
    display: flex;
    flex-direction: row;
    margin-top: 4em;
}
.line{
    margin-top: 1em;
    width: 30em;
    height: 5px;
    background-color: var(--blue-900);
}
.textSpan{
    display: flex;
    flex-direction: column;
    span{
        margin-bottom: 1em;
    }
}
.button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
}

@media (max-width: 1024px){
    .cover{
        width: 45%;

        h2{
            font-size: 1.5em;
        }
    }

  }

  
@media (max-width: 760px){
.cover{
    width: 95%;
    right: 5%;
}

}

@media (max-width: 500px){
    .cover{
        h2{
            font-size: 1em;
        }
        button{
            width: 80%;
        }
    }

    .text{
        margin-top: 1em;
    }
    .textSpan span{
        font-size: 1em;
    }
}