
button{
    &[disabled]{
        .spinner{
            cursor: not-allowed;
            animation: animate 2s infinite;
            width: 5em;
        }
    }
}


@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}