.container {
  height: 100vh;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
  }
  h1, h2{
    color: var(--white);
  }

  .label {
    width: 100%;
    margin: 0 1em;
    font-size: 1em;
    color: white;
    padding: 0.3em;
  }
  .SelectItem {
    width: 100%;
    height: 3em;
    border-radius: 0.5em;
    border: none;
    margin-bottom: 1.5em;
    padding: 0.3em;
  }
  .containerInputs {
    display: flex;
    flex-direction: row;
    width: 50em;
    margin: 0.5em;
    justify-content: center;

    .button {
      display: flex;
      flex-direction: column;
      width: 40%;
      margin: 0 1em;
    }
  }
  .inputItems {
    width: 100%;
    height: 2.5em;
    padding: 0.5em;
    margin-right: 1em;
    border-radius: 0.3em;
    border: none;
    background-color: var(--white);
    color: var(--grey-100);
  }
  .disabledInput {
    background-color: var(--grey);
  }
  .buttonConfirm {
    width: 15em;
    height: 2.5em;
    background-color: var(--blue-500);
    color: var(--white);
    border: none;
    border-radius: 0.5em;
    transition: all 0.3s ease;
    margin: 2em 1em;
  }
  .buttonConfirm:hover {
    transform: scale(1.1);
  }
  .buttonExt{
    display: flex;
    flex-direction: column;
  }
}
