.mainContainer{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    .navLeft{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        height: 100%;
        padding-top: 5%;
        
        
        .buttonExpanded{
            position: relative;
            width: 90%; 
            height: 8vh; 
            margin-bottom: 1em; 
            background: none;
            border-bottom: 1px solid var(--grey-50);
            svg{
            position: absolute;
            right: 5%;
            }
        }
        .RouteCard{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            height: 0vh;
            overflow: hidden;
            transition: all 5s ease;
            
        }
        .expandedRoute{
            height: 100%;
        }
        .ClientCard{
            height: 0vh;
            width: 70%;
            overflow: hidden;
            transition: all 5s ease;
        }
        .expandedClient{
            height: 100%;
        }
        .DriverCard{
            height: 0vh;
            width: 70%;
            overflow: hidden;
            transition: all 5s ease;
        }
        .expandedDriver{
            height: 100%;
        }
        .carCard{
            height: 0vh;
            width: 70%;
            overflow: hidden;
            transition: all 5s ease;
        }
        .expandedCar{
            height: 100%;
        }
        label{
            width: 100%;
            color: var(--white);
        }
        Input{
            width: 100%;
            height: 2.5em;
            padding: .5em;
            font-weight: bold;
            margin: .3em 0;
            border-radius: .3em;
            border: none;
        }
        textarea{
            width: 100%;
            height: 8em;
            margin: .5em 0;
            resize: none;
            border-radius: .5em;
            border: none;
            padding: 1em;
          
        }
        Button{
            width: 10em;
            height: 2.5em;
            color: var(--white);
            background-color: var(--red-900);
            border-radius: .5em;
            border: none;
            transition: all .3s ease;
        }
        Button:hover{
            transform: scale(1.1);
        }
        .textArea{
            label{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
       
    }
}
.mapContainer{
    width: 70%;
    height: 100vh;
    
}
.weather{
    color: var(--white);
    margin-top: 5em;
}