.containerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4em;
  position: fixed;
  background-color: var(--dark-700);
  z-index: 1;

}
.navList {
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--blue-500);
  border-bottom: solid 2px;
  cursor: pointer;
  svg {
    width: 2.5em;
    height: 2em;
    margin-top: 1em;
    border-radius: 5px;
    border: none;
    
  }

  h1 {
    font-size: 2em;
    margin-top: .5em;
    font-weight: 200;
  }
}
.items {
  width: 40%;
  height: 3em;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  li {
    
    margin: 0 1em;
    list-style-type: none;
   
    transition: all  500ms ease;
    border-radius: 1vh;
    color: var(--blue-100);
  }
}
.li{
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg,var(--white), var(--blue-900));
  background-repeat: no-repeat;
  background-size: 0 3px;
  background-position:  left bottom;
  transition: background-size 500ms ease;
}

.li:hover{
    color: var(--blue-100);
    background-size: 100% 3px;
}
.init{

  font-size: 1.5rem;
  color: var(--grey-100);
}
.init:hover{
  color: var(--white);
}
.bar{
  width: 2px;
  height: 2em;
  margin-top: .6em;
  background-color: var(--grey-100);
}
.client{
  background-color:var(--blue-100);
  

}
.liClient{
  display: flex;
  padding: .3em;
  font-size: 1.3em;
  font-weight: 300;
  color: var(--white);
  
}
.client:hover{
  background-color: var(--blue-hover);
}

.driver{
  display: flex;
  background-color: var(--blue-900);
  padding: .5em;
  
}
.liDriver{

  font-size: 1.3em;
  font-weight: 300;
  color: var(--white);

}
.driver:hover{
  background-color: var(--blue-1000);
}
@media (max-width: 760px){
  .navList {
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 660px){
  .logo{
    svg{
      width: 1.2em;
    }
    h1{
      font-size: 1.2em;
    }
  }
  .items{
    width: 100%;

  }

  .li{
    padding: 0;
  }
  .init{
    font-size: 1rem;
  }
  .liClient{
    font-size: 1em;
  }
  .client{
    padding: 0;
    height: 2em;
  }
  .liDriver{
    font-size: 1em;
  }
  .driver{
    padding: 0;
    height: 2em;
  }
}