.container {
  width: 90%;
  height: 100vh;
  margin: 5em auto;
  display: flex;
  justify-content: center;

  border-radius: 2em;
}
.containerCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;

  span {
    width: 70%;
    text-align: center;
    font-size: 2em;
    color: var(--white);
  }
  .options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
    height: 75%;
    width: 100%;
  }
}
.items {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 90%;
  padding: 2em;
  margin: 0 2%;
  background-color: var(--white);
  border-radius: 2em;
  transition: all 0.8s ease;
  &:nth-child(1) {
    svg {
      width: 4em;
      height: 4em;
      color: var(--white);
      background-color: var(--red-900);
      border-radius: 100%;
      -webkit-box-shadow: 0px 9px 122px 48px rgba(255, 255, 255, 1);
      -moz-box-shadow: 0px 9px 122px 48px rgba(255, 255, 255, 1);
      box-shadow: 0px 9px 122px 48px rgba(255, 255, 255, 1);
      transition: all 0.8s ease;
    }
    .buttonItems{
      background-color: var(--red-900);
      font-size: 2em;
      color: var(--white);
      transition: all 0.8s ease;
    }
  }

  &:nth-child(2) {
    svg {
      width: 4em;
      height: 4em;
      color: var(--white);
      background-color: var(--blue-1000);
      border-radius: 100%;
      -webkit-box-shadow: 0px 9px 122px 48px rgba(255, 255, 255, 1);
      -moz-box-shadow: 0px 9px 122px 48px rgba(255, 255, 255, 1);
      box-shadow: 0px 9px 122px 48px rgba(255, 255, 255, 1);
      transition: all 0.8s ease;
    }
    .buttonItems{
      background-color: var(--blue-1000);
      font-size: 2em;
      color: var(--white);
      transition: all 0.8s ease;
    }
  }
  h2 {
    font-size: 2em;
    color: var(--black);
    font-family: "Raleway", arial, sans-serif;
    margin-top: 2em;
  }
  span {
    width: 90%;
    height: 50%;
    font-family: "Raleway", arial, sans-serif;
    font-size: 20px;
    margin-top: 2em;
    color: var(--grey-100);
  }
  
}
.items:hover {
  &:nth-child(1) {
    background-color: var(--red-900);
    svg {
      color: var(--red-900);
      background-color: var(--white);
    }
    .buttonItems{
      background-color: white;
      color: var(--red-900);
    }
  }
  &:nth-child(2) {
    background-color: var(--blue-1000);
    svg {
      color: var(--blue-1000);
      background-color: var(--white);
    }
    .buttonItems{
      background-color: white;
      color: var(--blue-1000);
    }
  }

  h2 {
    color: var(--white);
  }
 
  span {
    color: var(--white);
  }
}
.buttonItems {
  width: 15%;
  height: 11%;
  border-radius: 100%;
  border: none;
  
}
@media (max-width: 1024px) {
  .container {
    margin: 10em auto;
    .containerCenter {
      span {
        margin: 2em 0;
      }
    }
    .options {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .items {
      width: 80%;
      height: 40vh;
      margin: 2em 0;
    }
  }
}
@media (max-width: 600px) {
  .container{
    margin: 20em auto;
    .containerCenter{
      width: 100%;
      span{
        width: 100%;
      }
    }
    .items{
      width: 100%;
      margin: 0 0 2em 0;
      h2{
        margin: 0;
      }
      span{
        font-size: 15px;
      }
      button{
        width: 40%;
        height: 40%                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ;
      }
    }
  }


}