.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.containerUser {
  display: flex;
  justify-content: center;
  padding: 2em;
  width: 60%;
  height: 85%;
  background-color: grey;
  border: none;
  border-radius: 1em;
}
.userImage {
  width: 6em;
  height: 6em;

  .labelAvatar {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .labelAvatar span{
    transition: all .5s ease;
  }
  svg {
    width: 6em;
    height: 6em;
    color: var(--blue-500);
  }
  input {
    display: none;
  }
  span:hover{
    transform: scale(1.2);
  }
  img{
    border-radius: 100%;
    position: absolute;
  }
}
