.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.containerUser {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  width: 60%;
  height: 85%;
  text-align: center;
  border: none;
  border-radius: 1em;

  h1 {
    color: var(--blue-900);
    font-size: 2.6em;
    margin-bottom: .5em;
  }
}
.topItems{
  width: 100%;
  display: flex;
  justify-content: space-between;

  Button{
      width: 5em;
      height: 2em;
      background-color: var(--red-900);
      border-radius: .3em;
      color: var(--white);
      transition: all .3s ease;
      border: none;
  }

  Button:hover{
    background-color: var(--blue-900);
    color: var(--white);
  }
}
.userImage {
  width: 12em;
  height: 8em;


  .labelAvatar {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
  }
  .labelAvatar span{
    transition: all .5s ease;
  }
  svg {
    width: 8em;
    height: 7em;
    color: var(--blue-500);
  }
  input {
    display: none;
  }
  span:hover{
    transform: scale(1.1);
  }
  img{
    border: solid 2px var(--blue-500);
    border-radius: 100%;
    position: absolute;
  }
}
.textImage{
  font-size: .9em;
  font-weight: 600;
  color: var(--white);
}
.items{
  margin-top: 3em;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 30vh;
    height: 6vh;
    margin: 2vh 1em;
    background-color: var(--white);
    border-radius: 0.5em;
    border: solid 1px var(--grey-100);
    padding: 1em;
    color: var(--grey-100);
    font-weight: bold;
  }
 
  span {
    color: var(--grey-100);
    margin: 2em 0;
    font-size: 1.5em;
  }
  Button {
    width: 6em;
    height: 2.5em;
    border-radius: 0.5em;
    border: none;
    background-color: var(--grey);
    color: var(--white);
    font-weight: bold;
    font-size: 1.5em;
    transition: all 0.3s ease;
    margin: 0 2em;
  }
  Button:hover {
    background-color: var(--blue-900);
    border: none;
  }
  .delete{
    background-color: var(--red-900);
    width: 8.5em;
    border: none;
    margin-top: 1em;
  }
}
