.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input{
        width: 40vh;
        height: 6vh;
        margin: 2vh 0;
        background-color: var(--dark-700);
        border-radius: .5em;
        border: solid 2px var(--blue-900);
        padding: 1em;
        color: var(--white);
    }
}
.registerContainer{

    margin-top: 3em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 85%;
    background-color: var(--grey);
    border-radius: 2em;

    button{
        width: 25%;
        height: 2em;
        font-size: 1.3em;
        border-radius: .3em;
        border: none;
        background-color: var(--blue-900);
        color: var(--white);
    }

    span{
        margin-top: 2em;
        color: var(--white);
    }

}
.registerContainer button:hover{
    background-color: var(--black);
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--blue-900);
    border-bottom: solid 2px;
    
    svg {
      width: 2.5em;
      height: 2em;
      margin-top: 1em;
      border-radius: 5px;
      border: none;
      
    }
  
    h1 {
      font-size: 2em;
      margin-top: .5em;
    }
  }
  @media (max-width: 500px){
    .registerContainer{
        width: 90%;
        h1{
            font-size: 1.2em;
        }
        button{
            width: 30%;
        }
    }
  }